
@model IEnumerable<RestaurantRater.Models.Restaurant>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table"> <!--Added a single table and a single row with multiple table headers; inside the headers we call DisplayNameFor Method and pass in property from Restaurant Model-->
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rating)
        </th>
        <th></th>
    </tr>
    @foreach (RestaurantRater.Models.Restaurant item in Model) //item is the name of our Restaurant in each iteration
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address) 
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.RestaurantID })
                @Html.ActionLink("Details", "Details", new { id = item.RestaurantID })
                @Html.ActionLink("Delete", "Delete", new { id = item.RestaurantID })

            </td>
        </tr>
    }
</table>